# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Client/Client.vcxproj.filters
Client/Debug/Client.Build.CppClean.log
Client/Debug/Client.log
*.obj
Client/Debug/Client.tlog/CL.read.1.tlog
*.tlog
*.idb
Client/Debug/vc120.pdb
*.exe
Debug/Client.ilk
*.pdb
Debug/PacketLib.lib
*.ilk
ipch/packetlib-a69fd149/packetlib-ce14417b.ipch
*.log
PacketLib/PacketLib.vcxproj.filters
Server/Server.vcxproj.user
*.sdf
